Source: muttrc-mode-el
Section: lisp
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders: Jeremy Sowden <azazel@debian.org>
Build-Depends: debhelper-compat (= 13)
             , dh-elpa
             , texinfo <!nodoc>
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/neomutt/muttrc-mode-el
Vcs-Browser: https://salsa.debian.org/emacsen-team/muttrc-mode-el
Vcs-Git: https://salsa.debian.org/emacsen-team/muttrc-mode-el.git

Package: elpa-muttrc-mode
Architecture: all
Depends: ${elpa:Depends}, ${misc:Depends}
Recommends: emacs (>= 46.0)
Enhances: emacs
Description: Emacs major mode for editing muttrc
 This mode provides syntax highlighting for muttrc and /etc/aliases.
 Basic fontification (via font-lock) appears on strings, comments,
 command names, and variables.  Additional fontification for commands
 arguments can be enabled through the customisation buffer.
